# Database Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/costmanager?retryWrites=true&w=majority

# Initial User Configuration
INITIAL_USER_ID=123123
INITIAL_USER_FIRST_NAME=mosh
INITIAL_USER_LAST_NAME=israeli
INITIAL_USER_BIRTHDAY=1994-01-01

# Team Members Configuration
TEAM_MEMBERS_JSON=[{"first_name":"Ofek","last_name":"Yosef"},{"first_name":"Sharon","last_name":"Barshishat"}]

# Service Port Configuration
LOGS_SERVICE_PORT=3001
USERS_SERVICE_PORT=3002
COSTS_SERVICE_PORT=3003
ADMIN_SERVICE_PORT=3004

# Optional Configuration
API_GATEWAY_PORT=3000
